.main-div {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 20px;
    color: white;
    background-color: purple;
    border: 2px solid black;
    justify-content: space-between;
    font-size: larger;
}

.expense-item-price {
    display: flex;
    align-items: centre;
    padding: 10px;
    margin: 20px;
    background-color: white;
    border: 2px solid black;
    color: black;
}